{{#if user.isAdmin}}
	<a href="/users" style="position: absolute; right: 60px; top: 10px"><button
		>Users</button></a>
{{/if}}
<a
	href="/api/sessions/logout"
	style="position: absolute; right: 10px; top: 10px"
><button>Salir</button></a>
<a href="/products" style="position: absolute; left: 10px; top: 10px"><button
	>Products</button></a>
	<a href="/" style="position: absolute; left: 90px; top: 10px"><button
	>Profile</button></a>
<div class="container">
<div class="container">
	
	<h1>Carrito de compras</h1>

	<div id="container-table" style="padding-top: 20px;">
		<table id="customers">
			<thead>
				<tr>
					<th>#</th>
					<th>Título</th>
					<th>Descripción</th>
					<th>Code</th>
					<th>Stock</th>
					<th>Precio</th>
					<th>Categoría</th>
					<th>Cantidad</th>
					<th>Subtotal</th>
				</tr>
			</thead>
			<tbody>
				{{#each cart.products}}
					<tr class="products">
						<td class="numberId"></td>
						<td>{{this.product.title}}</td>
						<td>{{this.product.description}}</td>
						<td>{{this.product.code}}</td>
						<td>{{this.product.stock}}</td>
						<td>{{this.product.price}}</td>
						<td>{{this.product.category}}</td>
						<td>{{this.quantity}}</td>
						<td></td>
					</tr>
				{{/each}}
			</tbody>
			<tfoot>
				<tr>
					<td style="font-weight: bold;">Total</td>
					<td id="total"></td>
				</tr>
  		</tfoot>
		</table>
	</div>
	<div style="display: flex; justify-content: end; margin-top: 15px">
		<button class="{{cart._id}}" id="void-button">Void Cart</button>
		<button class="{{cart._id}}" id="purchase-button">Purchase</button>
	</div>
</div>
<div
	id="purchase-detail"
	style="display: flex; flex-direction: column; justify-content: center; align-content:center; margin-top: 15px"
>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>