{{!-- TODO: Crear vista para poder visualizar usuarios, eliminarlos y editar sus roles --}}
{{!-- * SOLO usuario ADMIN puede entrar a esta vista * --}}

<div class="container">
    <div id="container-table">
      <table>
        <thead>
          <tr>
            <th>UID</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Last Connection</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="user-table">
          {{#each users}}
          <tr>
            <td>{{_id}}</td>
            <td>{{first_name}}</td>
            <td>{{email}}</td>
            <td>{{role}}</td>
            <td>{{last_connection}}</td>
            <td>
              <button onclick="changeRole('{{_id}}')">Change Role</button>
              <button onclick="deleteUser('{{_id}}')">Delete User</button>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>